In [1]:
import pandas as pd
import numpy as np

In [2]:
car_data=pd.read_csv("train.csv")
car_data.head()

,ID,Price,Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags
0,45654403,13328,1399,LEXUS,RX 450,2010,Jeep,Yes,Hybrid,3.5,186005 km,6.0,Automatic,4x4,04-May,Left wheel,Silver,12
1,44731507,16621,1018,CHEVROLET,Equinox,2011,Jeep,No,Petrol,3,192000 km,6.0,Tiptronic,4x4,04-May,Left wheel,Black,8
2,45774419,8467,-,HONDA,FIT,2006,Hatchback,No,Petrol,1.3,200000 km,4.0,Variator,Front,04-May,Right-hand drive,Black,2
3,45769185,3607,862,FORD,Escape,2011,Jeep,Yes,Hybrid,2.5,168966 km,4.0,Automatic,4x4,04-May,Left wheel,White,0
4,45809263,11726,446,HONDA,FIT,2014,Hatchback,Yes,Petrol,1.3,91901 km,4.0,Automatic,Front,04-May,Left wheel,Silver,4

In [3]:
car_data

,ID,Price,Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags
0,45654403,13328,1399,LEXUS,RX 450,2010,Jeep,Yes,Hybrid,3.5,186005 km,6.0,Automatic,4x4,04-May,Left wheel,Silver,12
1,44731507,16621,1018,CHEVROLET,Equinox,2011,Jeep,No,Petrol,3,192000 km,6.0,Tiptronic,4x4,04-May,Left wheel,Black,8
2,45774419,8467,-,HONDA,FIT,2006,Hatchback,No,Petrol,1.3,200000 km,4.0,Variator,Front,04-May,Right-hand drive,Black,2
3,45769185,3607,862,FORD,Escape,2011,Jeep,Yes,Hybrid,2.5,168966 km,4.0,Automatic,4x4,04-May,Left wheel,White,0
4,45809263,11726,446,HONDA,FIT,2014,Hatchback,Yes,Petrol,1.3,91901 km,4.0,Automatic,Front,04-May,Left wheel,Silver,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19232,45798355,8467,-,MERCEDES-BENZ,CLK 200,1999,Coupe,Yes,CNG,2.0 Turbo,300000 km,4.0,Manual,Rear,02-Mar,Left wheel,Silver,5
19233,45778856,15681,831,HYUNDAI,Sonata,2011,Sedan,Yes,Petrol,2.4,161600 km,4.0,Tiptronic,Front,04-May,Left wheel,Red,8
19234,45804997,26108,836,HYUNDAI,Tucson,2010,Jeep,Yes,Diesel,2,116365 km,4.0,Automatic,Front,04-May,Left wheel,Grey,4
19235,45793526,5331,1288,CHEVROLET,Captiva,2007,Jeep,Yes,Diesel,2,51258 km,4.0,Automatic,Front,04-May,Left wheel,Black,4
19236,45813273,470,753,HYUNDAI,Sonata,2012,Sedan,Yes,Hybrid,2.4,186923 km,4.0,Automatic,Front,04-May,Left wheel,White,12

## Data cleaning

In [7]:
#removing the 'km' from the mileage column and converting it to float
car_data['Mileage'] = pd.to_numeric(car_data.Mileage.str.split(' ').str[0], downcast='float')

In [8]:
#replacing all the '0' values with the mean values of the 'Mileage' column
car_data['Mileage'] = np.where(car_data['Mileage'] == 0.0,car_data['Mileage'].mean(),car_data['Mileage'])

In [9]:
#cleaning the Doors column
car_data['Doors'] = np.where((car_data['Doors'] == '04-May') | (car_data['Doors'] == '02-Mar'), car_data['Doors'].str.split('-').str[0],car_data['Doors'])

In [10]:
#Remove the word 'Turbo' from all records that have it
car_data['Engine volume'] = pd.to_numeric(car_data['Engine volume'].str.split(' ').str[0], downcast='float')

In [11]:
#Replacing the '0' in the 'Engine volume' column with the mean value of that column
car_data['Engine volume']=np.where(car_data['Engine volume'] == 0.0,car_data['Engine volume'].mean(),car_data['Engine volume'])

In [12]:
#Feature engineering the production year column
import datetime as dt
currt_time = dt.datetime.now()
car_data['Prod. year'] = currt_time.year - car_data['Prod. year']

In [19]:
#converting the Levy column to float as it is the Tax 
car_data['Levy'] = pd.to_numeric(car_data['Levy'].replace('-', '0'), downcast='float')
#Replacing the 0 in the 'Levy' column with mean of that column
car_data['Levy'] = np.where(car_data['Levy'] == 0.0,car_data['Levy'].mean(),car_data['Levy'])

In [20]:
car_data

,ID,Price,Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags
0,45654403,13328,1399.000000,LEXUS,RX 450,13,Jeep,Yes,Hybrid,3.5,186005.0,6.0,Automatic,4x4,04,Left wheel,Silver,12
1,44731507,16621,1018.000000,CHEVROLET,Equinox,12,Jeep,No,Petrol,3.0,192000.0,6.0,Tiptronic,4x4,04,Left wheel,Black,8
2,45774419,8467,632.528687,HONDA,FIT,17,Hatchback,No,Petrol,1.3,200000.0,4.0,Variator,Front,04,Right-hand drive,Black,2
3,45769185,3607,862.000000,FORD,Escape,12,Jeep,Yes,Hybrid,2.5,168966.0,4.0,Automatic,4x4,04,Left wheel,White,0
4,45809263,11726,446.000000,HONDA,FIT,9,Hatchback,Yes,Petrol,1.3,91901.0,4.0,Automatic,Front,04,Left wheel,Silver,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19232,45798355,8467,632.528687,MERCEDES-BENZ,CLK 200,24,Coupe,Yes,CNG,2.0,300000.0,4.0,Manual,Rear,02,Left wheel,Silver,5
19233,45778856,15681,831.000000,HYUNDAI,Sonata,12,Sedan,Yes,Petrol,2.4,161600.0,4.0,Tiptronic,Front,04,Left wheel,Red,8
19234,45804997,26108,836.000000,HYUNDAI,Tucson,13,Jeep,Yes,Diesel,2.0,116365.0,4.0,Automatic,Front,04,Left wheel,Grey,4
19235,45793526,5331,1288.000000,CHEVROLET,Captiva,16,Jeep,Yes,Diesel,2.0,51258.0,4.0,Automatic,Front,04,Left wheel,Black,4
19236,45813273,470,753.000000,HYUNDAI,Sonata,11,Sedan,Yes,Hybrid,2.4,186923.0,4.0,Automatic,Front,04,Left wheel,White,12

### preparing the data for modeling

In [21]:
categ = car_data.select_dtypes(include='object')
num = car_data.select_dtypes(include = np.number)
#getting dummies for the categorical variables
cat_dummies = pd.get_dummies(categ,drop_first=True)
#creating the final dataset
df_final = pd.concat([num,cat_dummies], axis=1)
#checking the shape of the final dataset

In [25]:
df_final

,ID,Price,Levy,Prod. year,Engine volume,Mileage,Cylinders,Airbags,Manufacturer_ALFA ROMEO,Manufacturer_ASTON MARTIN,...,Color_Green,Color_Grey,Color_Orange,Color_Pink,Color_Purple,Color_Red,Color_Silver,Color_Sky blue,Color_White,Color_Yellow
0,45654403,13328,1399.000000,13,3.5,186005.0,6.0,12,0,0,...,0,0,0,0,0,0,1,0,0,0
1,44731507,16621,1018.000000,12,3.0,192000.0,6.0,8,0,0,...,0,0,0,0,0,0,0,0,0,0
2,45774419,8467,632.528687,17,1.3,200000.0,4.0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
3,45769185,3607,862.000000,12,2.5,168966.0,4.0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,45809263,11726,446.000000,9,1.3,91901.0,4.0,4,0,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19232,45798355,8467,632.528687,24,2.0,300000.0,4.0,5,0,0,...,0,0,0,0,0,0,1,0,0,0
19233,45778856,15681,831.000000,12,2.4,161600.0,4.0,8,0,0,...,0,0,0,0,0,1,0,0,0,0
19234,45804997,26108,836.000000,13,2.0,116365.0,4.0,4,0,0,...,0,1,0,0,0,0,0,0,0,0
19235,45793526,5331,1288.000000,16,2.0,51258.0,4.0,4,0,0,...,0,0,0,0,0,0,0,0,0,0
19236,45813273,470,753.000000,11,2.4,186923.0,4.0,12,0,0,...,0,0,0,0,0,0,0,0,1,0

### building the model

In [24]:
X = train_data
Y=y

X_train, X_test, y_train, y_test = train_test_split(X,Y, test_size=0.3, random_state=10)

(19237, 1701)